header {
    display: flex;
    justify-content: center;
    width: 100vw;
}

header h1 {
    width: 100vw;
}
header #logo {
    width: 56%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
